
/*Global Style
-------------------------------------------------------------------------*/
a {
  color: black;
  display: block;
  font-size: 20px;
  box-shadow: 3px 3px 3px 3px lightgrey;
}
a:active {
  color: rosybrown;
}
a:hover {
  background-image: linear-gradient(grey white); 
  text-transform: uppercase;
}
.topnav {
  color: pink;
}
.ulnav {
  color: teal;
  list-style: none;
  float: right;
  margin-right:2px;
}
.itemLink {
  color: darkred;
  display: inline-block;
  background-color: rgb(236, 126, 190);
  font-family: 'Finger Paint';
  font-size: 8px;
}
.dropdown{
  position: relative;
  display: inline-block;
  cursor: pointer;  
}
.dropdown-content {
  background-color:grey;
  position: absolute;
  display: none;
  box-shadow: 0px 8px 16px 0px;
  font-family: 'Finger Paint';
  font-size: 8px;
}
h1{
  color: darkred;
  text-shadow: 20px 20px 20px black;
  font-family: 'Delius Swash Caps';
  font-size: 20px;
}
.pcolor{
  color: rgb(87, 50, 104);
  text-shadow: 25px 25px 25px;
  font-family: 'Crafty Girls';
  font-size: 20px;
  box-shadow: 5px 5px 5px 5px rgb(7, 7, 7);
  font-weight: bold;
}
body{
  background-image: url('/pics/english.JPEG');
  background-repeat: inherit;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*Tabla General
-------------------------------------------------------------------------*/
table, th, td{
  color: black;
  border: 2px solid salmon;
  border-collapse: collapse;
  font-family: "Indie Flower";
  padding: 10px;
  background: lightpink;
}

/*Pasado Simple
-------------------------------------------------------------------------*/
#h1, .fd{
  color: black;
  font-weight: bold;
  font-size: 30px;
  font-family: "Comic Neue";
}
#h2, .ds {
  color: black;
  font-size: 25px;
  font-family: "Comic Neue";
}
div, .kl{
  color: deeppink;
  font-size: 20px;
  font-weight: bold;
  display: inline;
}
table, .qa{
  float: central;
}
#h1, .tt {
  color: black; 
  font-size: 30px;
  font-family: "Comic Neue";
}

/*Presente Simple
-------------------------------------------------------------------------*/
#h1, .xx {
  color: black;
  font-size: 30px;
  font-family: "Comic Neue";
}
#h2, .bv {
  color: black;
  font-size: 25px;
  font-family: "Comic Neue";
}
#h3, .xxe {
  font-size: 25px;
  font-family: "Comic Neue";
}
#h4, .gt {
  color:black;
  font-weight: bold;
  font-size: 25px;
  font-family: "Comic Neue";
}
div, .pi {
  color: purple;
  font-size: 20px;
  font-weight: bold;
  display: inline;
}
div, .mam {
  color: darkred;
  font-weight: bold;
  font-size: 20px;
  display: inline;
}
div, .teet {
  color:darkslateblue;
  font-weight: bold;
  font-size: 20px;
  display: inline;
}
div, .deed {
  color:  sienna;
  font-weight: bold;
  font-size: 20px;
  display: inline;
}

/*Futuro Simple
-------------------------------------------------------------------------*/
#h1, .ruum {
  color: black;
  font-size: 30px;
  font-family: "Comic Neue";
}
#h2, .hj {
  color: black;
  font-size: 30px;
  font-family: "Comic Neue";
}
#h3, .mk {
  color: black;
  font-size: 25px;
  font-family: "Comic Neue";
}
div, .eep {
  color:seagreen;
  font-weight: bold;
  font-size: 20px;
  display: initial;
}
div, .yt {
  color: black;
  font-size: 20px;
  font-family: "Comic Neue";
}
div, .gb {
  color: black;
  font-size: 20px;
  font-family: "Comic Neue";
}
div, .sz {
  color: darkslateblue;
  font-weight: bold;
  font-size: 20px;
  display: initial;
}