
a {
  color: palegreen;
  display: block !important;
}
a:active {
  color: rosybrown;
}
a:hover {
  background-image: linear-gradient (blue, yellow);
  text-transform: uppercase;
}
.topnav {
  color: pink;
}
.ulnav {
  color: darkorange;
  list-style: none;
  float: left;
}
.itemLink {
  color: darkred;
  display: inline-block;
  background-color: mediumseagreen;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content {
  background-color: goldenrod;
  position: absolute;
  display:none;
  box-shadow: 0px 8px 16px 0px rgba(red, green, blue, alpha);
}
div {
  color: black;
  text-shadow: 5px 5px 5px cornflowerblue;
  font-family: Amatic+SC;
}
.pcolor{
  color: dodgerblue;
  text-shadow: 10px 10px 10px;
  font-size: Indie+Flower;
}